@import "../../Assets/styleVariables.scss";
@import "./header.animation.scss";

.headerContainer,
.otherHeaderContainer {
  font-family: $primary-font;
  position: fixed;
  display: flex;
  align-items: center;
  width: 95vw;
  left: 50%;
  transform: translateX(-50%);

  .nameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    .name {
      color: $blue-color;
      font-size: 5rem;
      filter: saturate(150%);
    }
    .titleContainer {
      .title {
        color: $pink-color;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
  .linkContainerAbout,
  .linkContainerResume {
    text-decoration: none;
    font-size: 2rem;
  }
}

.headerContainer {
  justify-content: center;
  left: 50%;
  z-index: 200;
  height: 100vh;

  transform: translate(-50%, 0);
  .nameContainer {
    position: absolute;

    animation: namePositionAnimation 1s ease-in-out;
    animation-timeline: scroll(block nearest);

    transform: translate(-50%, -50%);
    .name {
      animation: nameAnimation 1s ease-in-out;
      animation-timeline: scroll(block nearest);
    }
    .titleContainer {
      overflow: hidden;
      .title {
      }
      animation: titleAnimation 1s ease-in-out;
      animation-timeline: scroll(block nearest);
    }
  }

  .linkContainerAbout,
  .linkContainerResume {
    animation: linksAnimation 1s ease-in-out;
    animation-timeline: scroll(block nearest);
  }

  .linkContainerResume {
    color: $blue-color;
  }
  .linkContainerAbout {
    color: $pink-color;
  }

  animation: scrollAnimation 1s ease-in-out;
  animation-timeline: scroll(block nearest);
}

.otherHeaderContainer {
  height: 10rem;
  border-bottom: 3px solid $pink-color;
  box-shadow: 0 2px 0 0 $blue-color;
  border-radius: 6rem;
  justify-content: space-between;
  text-decoration: none;
  margin-top: -12rem;
  background-color: black;

  .nameContainer {
    .name {
    }
    .titleContainer {
      .title {
      }
    }
  }

  .linkContainerAbout {
    margin-right: 2rem;
    color: $blue-color;
  }
  .linkContainerResume {
    margin-left: 2rem;
    color: $pink-color;
  }
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .headerContainer {
    width: 100vw;
    padding: 2rem;
    .nameContainer {
      margin-left: -2.5rem;
    }
  }
}
@media (max-width: 480px) {
}
