@import "../../Assets/styleVariables.scss";
@import "./header.animation.scss";

.headerContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  z-index: 2;

  transform: translate(-50%, 0);
  .nameContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    animation: namePositionAnimation 1s ease-in-out;
    animation-timeline: scroll(block nearest);

    transform: translate(-50%, -50%);
    .name {
      color: $blue-color;
      font-size: 5rem;
      filter: saturate(150%);
      animation: nameAnimation 1s ease-in-out;
      animation-timeline: scroll(block nearest);
    }
    .titleContainer {
      overflow: hidden;
      .title {
        color: $pink-color;
        font-size: 2rem;
        text-transform: uppercase;
      }
      animation: titleAnimation 1s ease-in-out;
      animation-timeline: scroll(block nearest);
    }
  }

  animation: scrollAnimation 1s ease-in-out;
  animation-timeline: scroll(block nearest);
}
